body {
  width: 100vw;
  background: #2d1b47;
}
.hero {
  position: relative;
}
.hero img {
  width:100%;
}
h1.title.title--mega {
  position: absolute;
  top: 50%;
  color: white;
  text-shadow: 2px 2px #000000;
  text-align: center;
}
.card {
  background-color: transparent;

}
.card-text {
  color: white;
  text-align: center;
  padding-top: 2%;
}
.card-title {
  color: white;
  font-weight: bold;
  text-align: center;
  padding-top: 5%;
  margin-bottom: 0;
  background-color: transparent;
  padding: 4%;
}
.nuestros-centros {
  padding-left: 10px;
  padding-right: 10px;
  background-color: orange;
}



div .nav-item {
  color:purple;
}

nav.navbar.navbar-light.bg-light {
  padding-right: 10%;
}
.header-image {
  width: 180px;
  object-fit: cover;
  object-position: 100% 0;
}
.container * {
  color: yellow;
}

svg {
  fill: #492C73;
}

/* a:hover>path {
  fill: #fad206;
} */

a>text {
  fill: white;
}

.bar-wrapper {
  height: 500px;
  width: 510px;
  /* margin-left: 25vw; */
  position: relative;
}

img#interior {
  fill: #2d1b47;
  width: 505px;
  position: absolute;
  bottom: 0;
  z-index: 1;
}

img#exterior {
  width: 510px;
  left: -3px;
  bottom: -3px;
  position: absolute;
  z-index: 2;
}

.fill-1 {
  display: inline-block;
  position: absolute;
  bottom: 0;
  /* position: absolute; */
  height: 000px;
  width: 504px;
  transition: all 2s;
  background-color: rgba(250, 210, 6, 1);
}

span.corazon {
  color: red;
  display: block;
  font-weight: bold;
  position: absolute;
  top: 242px;
    left: 238px;
    z-index: 10;

  /* padding-top: 10% ; */
}

.card-holder span {
  color: white;
  display: block;
  /* padding-top: 10% ; */
}

/* .fill-1:hover {
  height: 450px;
} */
/* prpiedades para el flex grid */
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}
.flex-container2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}

.brand-wrapper-front {
  background: #4a3073;
  border: 2px solid purple;
  width: 400px;
  transition: all 2s;
  position: absolute;
}


/* .card-holder:hover  {
  transform: rotateY(180deg);
} */
/* .card-holder:hover ~ .brand-wrapper-front {
  transform: rotateY(180deg);
} */

.rotor {
  transform: rotateY(180deg);
}
.perspective {
  perspective: 1000px;
}

.card-holder {
  margin-top: 20px;
  position: relative;
  width: 400px;
  height: 220px;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  perspective: 1000px;
}

.brand-wrapper-back {
  position: absolute;
  transform: rotateY(180deg);
  background-color: #4a3073;
  border: 2px solid purple;
  transition: all 2s;
  height:100%;
  width: 100%;
  z-index: -1;
  padding-top: 20px;
}

/* aqui van las declaraciones de las dos caras de una tarjeta*/
.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}


/* propiedades relacionadas a la figura 3d para el iput del tracker*/
.scene {
  margin-top: 40px;
  width: 200px;
  height: 200px;
  perspective: 600px;
}

.cube {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
}

.cube__face {
  position: absolute;
  width: 200px;
  height: 200px;
}

.cube__face--front {
  transform: rotateY(0deg);
  text-align: center;
}

.cube__face--right {
  transform: rotateY(90deg);
}

.cube__face--back {
  transform: rotateY(180deg);
}

.cube__face--left {
  transform: rotateY(-90deg);
}

.cube__face--top {
  transform: rotateX(90deg);
}

.cube__face--bottom {
  transform: rotateX(-90deg);
}

.cube__face--right {
  transform: rotateY(90deg) translateZ(100px);
  background: rgba(123, 212, 102, .5);
  border: 1px solid gray
}

.cube__face--back {
  transform: rotateY(180deg) translateZ(100px);
  background: rgba(123, 212, 102, .5);
  border: 1px solid gray
}

.cube__face--left {
  transform: rotateY(-90deg) translateZ(100px);
  background: rgba(123, 212, 102, .5);
  border: 1px solid gray
}

.cube__face--top {
  transform: rotateX(90deg) translateZ(100px);
  background: rgba(123, 212, 102, .5);
  border: 1px solid gray
}

.cube__face--bottom {
  transform: rotateX(-90deg) translateZ(100px);
  background: rgba(123, 212, 102, .5);
  border: 1px solid gray
}

.marcas {
  width: 75px;
  height: 75px;
  border-radius: 50px;
  background-size: 75px 75px;
  margin: 10px 15px;
}

.marca-1 {
  background-image: url("../img/telmex_logo.png");
}

.marca-2 {
  background-image: url("../img/FA_logo.png");
}

.marca-3 {
  background-image: url("../img/telecom_logo.png");
}

.marca-4 {
  background-image: url("../img/soriana_logo.png");
}

.marca-5 {
  background-image: url("../img/banamex_logo.png");
}

.marca-6 {
  background-image: url("../img/telcel_logo.png");
}

/*estilo para el card flip*/
.card-flip {
  perspective: 1000px;
  &:hover .flip,
  &.hover .flip {
    transform: rotateY(180deg);
  }
}

.card-flip,
.front,
.back {
  width: 100%;
  height: 480px;
}

.flip {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.front,
.back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.front {
  z-index: 2;
  transform: rotateY(0deg);
}

.back {
  transform: rotateY(180deg);
}
